[submodule "src/respeaker_ros"]
	path = src/respeaker_ros
	url = https://github.com/furushchev/respeaker_ros.git
[submodule "src/ros_astra_camera"]
	path = src/ros_astra_camera
	url = https://github.com/orbbec/ros_astra_camera
