<launch>
  <node name="face" pkg="quori_face" type="quori_face_node" ns="/quori" output="screen" respawn="false" required="true">
    <env name="DISPLAY" value=":0" />

    <rosparam file="$(find quori_face)/config/params.yaml" command="load"/>
    <param name="override_image_encoding" type="string" value="rgb8" />
  </node>
</launch>