<?xml version="1.0"?>

<robot name="quori" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find quori_description)/urdf/quori_kinematics.xacro" />
  <xacro:include filename="$(find quori_description)/urdf/ramsis_kinematics.xacro" />

  <quori_kinematics />
  <ramsis_kinematics />

  <!-- Join the quori robot to the ramsis robot's turret joint -->
  <joint name="ramsis_quori_connector" type="fixed">
    <parent link="ramsis/turret_link" />
    <child link="quori/base_link"/>
  </joint>
</robot>