<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<launch>
  <node name="slam_gmapping"	pkg="gmapping"  type="slam_gmapping" output="screen">
    <remap from="scan" to="scan_filtered"/>
    <param name="maxUrange" type="double" value="5.5" />
    <param name="maxRange" type="double" value="5.5" />
    <param name="minimumScore" type="double" value="50" />
    <param name="linearUpdate" type="double" value="0.2" />
    <param name="angularUpdate" type="double" value="0.25" />
    <param name="temporalUpdate" type="double" value="-1.0" />
    <param name="delta" type="double" value="0.025" />
    <param name="srr" type="double" value="0.1" />
    <param name="srt" type="double" value="0.2" />
    <param name="str" type="double" value="0.1" />
    <param name="stt" type="double" value="0.2" />
  </node>

  <include file="$(find quori_launch)/launch/tf_base_laser.launch"/>
  <include file="$(find quori_launch)/launch/filtered_laser.launch"/>
</launch>
