#!/usr/bin/env python
PACKAGE='quori_face'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()
gen.add("dx", double_t, 0, "delta X", 0)
gen.add("dy", double_t, 0, "delta Y", 0)

exit(gen.generate(PACKAGE, "quori_face", "Calibration"))