<launch>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
        <!-- <remap from="/joint_states" to="/quori/joint_states" /> -->
    </node>

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find quori_controller)/config/quori_control_diff.yaml" command="load"/>

    <remap from="/quori/joint_states" to="/joint_states" />

    <!-- load the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="quori/joint_state_controller quori/joint_trajectory_controller quori/base_controller"/>

    <node name="spawn_urdf" pkg="gazebo_ros" output="screen" type="spawn_model" args="-param robot_description -urdf -model quori" />

</launch>